/* App */
@import url('https://fonts.googleapis.com/css?family=Lobster');

#home, #blog, #store, #about-us {
	opacity: 0;
}

.children, #signin .row {
	margin: 0;
}

body {
	background-color: #fcfcfc;
}

#nav, footer, .btn {
	background-color: #6FCF97 !important;
}

.navbar {
    height: 80px;
    padding: 30px 20px 0 20px;
    display: flex;
	justify-content: space-between;
	margin: 0 20px;
}

a.link, .content a, .homelink {
	text-transform: uppercase;
}

a.link {
    color: #ffffff;
	transition: 0.6s ease;
}

a.link.active {
	color: #5B2C6F;
}


h5, h6, div, .navbar {
	font-family: Roboto, 'Century Gothic', 'Comic Sans';
	text-align: center;
}

label.active {
	color: #BB6B25 !important;
}

textarea:focus {
  border-bottom: 1px solid #BB6B25 !important;

  box-shadow: 0 1px 0 0 #BB6B25 !important;
}

input[type=text]:focus:not([readonly]), input[type=email]:focus, input[type=password]:focus{
	border-bottom: 1px solid #BB6B25 !important;
    box-shadow: 0 1px 0 0 #BB6B25 !important;
}


#signin div {
	color: white;
	padding: 20px;
}

#signin-button {
	margin-left: 5px;
}


/* Screen sizes */
@media (min-width: 768px) {
	
	.navbar {
		display: block;
	}
	
	a.link {
		margin: 30px;
	}
}