/* Map Page */

.map-item .card-panel{
	overflow: auto;
	clear: both;
	padding: 0;
}
.map-item .content-header {
	height: 100%;
	margin: 20px;
}

.map-item h5 {
	text-align: left;
	float: left;
	margin: 0;
}

.map-post h5 {
	margin-top: 0;
}

.map-post {
	margin: 20px 0 50px 0;
}

.map-item .date {
	color: #b5b5b5;
	font-size: 14px;
	float: left;
	clear: left;
	font-style: italic;
	margin-top: 5px;
}

.likes {
	float: right;
}

.map-item .content {
	clear: both;
}

.map-item img {
	border: 1px solid #b5b5b5;
	width: 100%;
}

.map-item .text {
	padding: 0px 25px;
}

.toggle-expand {
	border-top: 1px solid #d3d3d3;
	clear: both;
	padding: 5px;
}

.toggle-expand:hover, .like-button:hover {
	cursor: pointer;
}

#map .fa-heart {
	color: #c92e2e;
}

.map-post button {
	margin: 20px;
}

.text-preview {
	text-align: left;
	clear: both;
}

/* Screen sizes */
@media (min-width: 768px) {
	.map-item {
		margin: 30px 0 30px 0;
	}
	
    #map {
        width: 600px; 
    } 
}

@media (min-width: 992px) {
    #map  {
        width: 700px; 
    } 
}

@media (min-width: 1200px) {
    #map  {
        width: 800px; 
    } 
}